.footer__column-link {
  display: block;
  margin: 0;
  margin-bottom: 10px;
  line-height: 18px;
  font-size: 18px;
  transition: opacity 0.3s linear;
  text-decoration: none;
  color: white;
}

.footer__column-link:nth-of-type(3n) {
  margin-bottom: 0px;
}

.footer__column-link:hover {
  opacity: 0.66;
}
